* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}


.desktop {
    display: none;
}

.mobile {
    margin-left: 15px;
    margin-top: 5%;
}

.hamburger {
    z-index: 1;
    margin-right: 15px;
}

p {
    font-size: 0.8em;
}

.alert {
    background-color: white;
    width: 100%;
    font-size: 20px;
    text-align: center;
    position: fixed;
    padding: 5px;
}

b {
    font-weight: 800;
}

h1 {
    margin-top: 30px;
    color: white;
    font-size: 2.4rem;
    font-weight: 900;
}

h2 {
    color: white;
    font-size: 2em;
    font-weight: 800;
    margin-top: 5px;
}



h4 {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 30px;
}

nav {
    background-color: #e15638;
    margin-top: 25px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

svg {
    color: white;
}

.zapisz {
    color: black;
    background-color: white;
    margin-top: 2rem;
    font-weight: 800;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    padding: 0.7rem 1.5rem;
    margin-bottom: 20px;
}

.guziki-obszar {
    color: black;
    background-color: white;
    margin-top: 2rem;
    font-weight: 800;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    padding: 0.7rem 1.5rem;
    margin-bottom: 20px;
}

.top {
    margin-bottom: 100px;
}



.auto-s {
    display: none;
}

.hero {
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #e15638;
}



.wyroznia {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.naglowek {
    color: black;
    margin: 50px 0 20px 0px;
    text-align: center;
    width: 100%;
}

.ikonka {
    width: 40px;
    margin-top: 20px;
}

.fiszki {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 20px;
}

.fiszka2 {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 10px;
    text-align: center;
}

.tytul {
    font-weight: 700;
    font-size: 1.4em;
    margin: 10px 0;
}

.opis {
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 1em;
}


.obszar-dzialalnosci {
    padding: 20px 0;
    background-color: #e15638;
}

h1.naglowek2 {
    color: white;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
}



.lokalizacje {
    display: grid;
    flex-direction: row;
    margin: 0 60px;
}

.h2 {
    margin: 0 20px;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}


.headnas {
    margin-left: 20px;
    font-size: 2em;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 20px;
}

.tick {
    width: 20px;
    margin-right: 10px;
}



.grafik {
    background-color: #1e1e1e;
    padding: 20px 30px 30px 30px;
}


.opis2 {
    color: white;
    margin-top: 30px;
    font-size: 1em;
    font-weight: 300;
}

.lista {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lista p {
    font-size: 0.9rem;
    font-weight: 500;
    color: #1e1e1e;
}

.plus {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    align-items: center;
    margin-top: 20px;
}

.youtube {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 5px 0;

}

iframe {
    padding: 0 30px;
    width: 100%;
}

.yt {
    text-align: right;
    margin-top: 10px;
    width: 80%;
    font-weight: 400;
}


.tło {
    margin-top: 40px;
    padding: 0px 20px;
}


.footer {
    margin-top: 30px;
    background-color: #1e1e1e;
}

.sekcja {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
}

.head-sek {
    color: white;
    font-weight: 500;
    margin: 20px 0;
    font-size: 1em;
}

.opis-sek {
    color: #909090;
    font-weight: 300;
    margin-bottom: 5px;
    font-size: 0.8em;
}

.copyright {
    color: white;
    margin: 0 30px;
    font-size: 0.9em;
    font-weight: 200;
    text-align: center;
    padding-bottom: 10px;
}

.copy {
    margin-bottom: 10px;
}

.nawi-sek {
    padding: 20px 0;
}




@media screen and (min-width:1024px) {
    html {
        max-width: 1440px;
        margin: auto;
    }


    nav {
        margin-top: 40px;
    }

    .alert {
        background-color: #e15638;
        color: white;
        margin: 0;
        padding: 0;
        height: 40px;
        padding-top: 5px;
        font-size: 1.5rem;
        z-index: 5;
        max-width: 1440px;
    }


    .zapisz {
        background-color: #e15638;
        color: white;
        font-size: 1.2em;
        padding: 0.7rem 2rem;
    }

    .zapisz:hover {
        background-color: #dd3131;
        transition: 0.5s;
    }

    .hero {
        background-color: whitesmoke;
        padding: 20px 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    h1 {
        color: #1e1e1e;
        font-size: 4rem;
        font-weight: 900;
    }

    h2 {
        color: #1e1e1e;
        font-size: 3.2rem;
        font-weight: 900;
    }

    h4 {
        color: #1e1e1e;
        width: 70%;
        font-weight: 400;
    }

    .left {
        width: 60%;
    }

    .prawo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }

    .auto-s {
        display: inline;

    }


    .grafik {
        padding: 40px;
    }

    .zdj-opis {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .tło {
        max-height: 250px;
        margin-top: 0;
    }



    h1.naglowek2 {
        font-size: 2.5em;
        margin-bottom: 80px;
    }

    .opis2 {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 60px;
        width: 50%;
        font-size: 1.3em;
    }

    .active {
        font-weight: 900;

    }

    nav {
        background-color: white;
        padding: 0 40px;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: inline;
    }

    .navbar {
        background-color: rgb(255, 255, 255);
    }

    .hamburger-menu {
        display: none;
    }

    .eclipse {
        display: none;
    }



    .wyroznia {
        background-color: #25252D;
        padding: 40px 10px;
        width: 100%;
    }

    .naglowek {
        color: white;
        font-size: 2.5em;
        margin: 0;
        margin-bottom: 80px;
    }

    .fiszki {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100%;
    }


    .fiszka2 {
        display: flex;
        flex-wrap: nowrap;
        max-width: 280px;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .ikonka {
        width: 45px;
        margin: 0;
        margin-bottom: 30px;
        vertical-align: top;
    }

    .tytul {
        color: white;
        font-weight: 500;
        text-align: center;
        font-size: 1.2em;
        text-align: left;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }

    .opis {
        color: white;
        font-weight: 200;
        text-align: center;
        font-size: 1em;
        width: 75%;
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
    }


    iframe {
        height: 200px;
        width: 100%;
        margin-right: 20px;
    }



    .headnas {
        margin-left: 40px;
    }

    .koszyk {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 20px;
    }

    .slider-menu {
        display: flex;
        margin: 0;
        top: 0;
        right: 0;
        padding: 0;
    }

    .nawi-sek {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }





}