* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 0.8em;
}

header {
    height: 70vh;
    width: 100%;
    background-color: #e15638;
}

.alert {
    height: 20px;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

b {
    font-weight: 800;
}

h1 {
    color: white;
    font-size: 2rem;
    font-weight: 900;
}

h2 {
    color: white;
    font-size: 1.7em;
    font-weight: 800;
    margin-top: 5px;
}

.eclipse {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
}


h4 {
    color: white;
    font-weight: 300;
    font-size: 0.8rem;
    margin-top: 30px;
    width: 90%;
}

button {
    color: black;
    background-color: white;
    margin-top: 2rem;
    font-weight: 800;
    border: none;
    border-radius: 10px;
    padding: 0.7rem 1.5rem;
}


.auto-s {
    max-width: 250px;
    margin-left: 100px;

}

.hero {
    padding-top: 120px;
    margin: 0 20px 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.wyroznia {
    background-color: white;
    height: 50vh;
}


.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: white;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li.active a {
    color: rgb(255, 0, 0);
    font-weight: 600;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 35px;
}


@media screen and (max-width:900px) {
    .navbar {
        padding: 0;
    }

    .navbar .logo {
        font-size: 2em;
        font-weight: bold;
    }

    .navbar .menu-hamburger {
        display: block;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.066);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }


    .nav-links.mobile-menu {
        margin-left: 0;
    }



    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }

    .navbar .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
}